# Ignore everything in target except the final jar
target/*
!target/*.jar

# Maven / build
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git
.gitignore

# Node (if ever added)
node_modules/